input {
  width: 30px;
}

tbody > tr {
  td {
    text-align: center;
    align-content: center;
  }

  .plus {
    background-color: rgba(0, 255, 0, 0.5);
  }

  .minus {
    background-color: rgba(255, 0, 0, 0.5);
  }

  :nth-child(2) {
    /* background-color: red; */
  }
  :nth-child(3) {
    /* background-color: green; */
  }
  :nth-child(4) {
    /* background-color: blue; */
    min-width: 47px;
  }

  td[name="numbers1"], td[name="numbers2"] {
    white-space: nowrap;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input {
    border: 1px solid black;
    /* border-radius: 5px; */
    background-color: white;
    color: black;
  }