input {
  width: 30px;
}

.table > :not(caption) > * > * {
  padding: 0.4rem 0.4rem;
}

tbody > tr {
  td {
    text-align: center;
    align-content: center;
  }

  .top-number {
    border: 2px solid;
    border-bottom: 0;
    border-color: black;
  }

  .bottom-number {
    border: 2px solid;
    border-top: 0;
    border-color: black;
  }

  .plus {
    background-color: rgba(0, 255, 0, 0.5);
  }

  .minus {
    background-color: rgba(255, 0, 0, 0.5);
  }

  .blue {
    color: white;
    background-color: rgba(0, 0, 255, 0.5);
  }

  .gray {
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
  }

  :nth-child(2) {
    /* background-color: red; */
  }
  :nth-child(3) {
    /* background-color: green; */
  }
  :nth-child(4) {
    /* background-color: blue; */
    /* min-width: 47px; */
  }

  span[name="numbers1"],
  span[name="numbers2"] {
    white-space: nowrap;
    font-size: 15px;
  }

  span[name="numbers1-poznamka"],
  span[name="numbers2-poznamka"] {
    position: absolute;
    top: -10px;
    font-size: 11px;
    left: 50%;
    transform: translateX(-50%);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input {
  border: 1px solid black;
  /* border-radius: 5px; */
  background-color: white;
  color: black;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
